:root{
    --primary: #1eb46c;
    --secundary: #18893f;
    --secundary2: #f7941e;
    --background: #82c55b;
    --black-text: rgb(61, 61, 61);
    --white-text: #ffffff;
    --button-hover:#38755a
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;

}
nav{
    background-color: var(--primary);
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header h1{
    color:var(--white-text);
    font-size: 2rem;
    letter-spacing: 1rem;
}
nav ul{
    display: flex;
}
nav ul li{
    border-right: solid .1rem rgb(61, 61, 61, 0.41);
}
nav ul li:last-child{
    border-right: none;
}
nav ul li a{
    color: var(--white-text);
    font-size: 1.2rem;
    padding: .8rem 1rem;
    text-transform: uppercase;
}
nav ul li a:hover{
    background-color: var(--secundary2);
    transition: all .3s;
}
.drawer{
    color: var(--white-text);
    float: left;
    cursor: pointer;
    display: none;
    margin-left: 1rem;
    border: solid .1rem var(--white-text);
    padding: .2rem;
    border-radius: .1rem;
}
#ckbox{
    display: none;
}
main{
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
main h1{
    font-size: 1.7rem;
    color: var(--black-text);
    text-align: center;
    margin: 1rem;
}
main p{
    color: var(--black-text);
    text-align: center;
    margin: 1rem 0;
}
main form{
    display: flex;
    justify-content: center;
}
main form button{
    margin: 0 .5rem;
    width: 8rem;
    height: 2.5rem;
    font-size: 1.1rem;
}
.primary-btn{
    background-color: var(--primary);
    color: var(--white-text);
    border-style: none;
}
.outline-btn{
    background-color: var(--white-text);
    color: var(--black-text);
    border: solid .1rem var(--primary);
}
.primary-btn:hover{
    background-color: var(--white-text);
    color: var(--primary);
    border: solid .1rem var(--primary);
    transition: all .3s;
}
.outline-btn:hover{
    background-color: var(--primary);
    color: var(--white-text);
    border-style: none;
    transition: all .3s;
}
main img{
    height: 80vh;
}
.contenedor{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.contenedor figure{
    position:relative;
    height: 250px;
    cursor: pointer;
    width: 350px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
}
.contenedor figure img{
    width: 100%;
    height: 100%;
    transition: all 400ms ease-out;
    will-change: transform;
}
.contenedor figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,103,123,0.7);
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
.contenedor figure:hover > .capa {
    opacity: 1;
    visibility: visible;
}
.contenedor figure:hover > .capa h3{
    margin-top: 70px;
    margin-bottom: 15px;
}
.contenedor figure:hover > img{
    transform: scale(1.3);
}
.contenedor figure .capa h3{
    color: #fff;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 400ms ease-out;
    margin-top: 30px;
}
.contenedor figure .capa p{
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}
footer{
    background-color: var(--primary);
    color: var(--white-text);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
@media(max-width:1020px){

    nav{
        justify-content: flex-start;
    }

    .drawer{
        display: block;
    }
    
    nav h1{
        margin-left: 1rem;
    }
    
    ul{
        position: fixed;
        width: 50%;
        height: 100vh;
        background-color: var(--secundary2);
        top: 10vh;
        left: -2vh;
        text-align: left;
        transition: all .5s;
        display: flex;
        flex-direction: column;
        align-content: stretch;
    }
}
nav ul li{
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    border-bottom: solid .1rem rgba(201, 196, 196, 0.4);
}
#ckbox:checked ~ .menu.box{
    left: 0;
}
.image{
    display: none;
}